:root{

    --violeta: #9e14a4;
    --rosa:#ffbaf4;

    --Oscuro: #222222;
    --gris: grey;
    --Claro: White;

    --fontRubik: "Rubik", sans-serif;
    --fontKrub: "Krub", sans-serif;

}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}
body{
    background-color: var(--Oscuro);
    color: var(--Claro);
    font-family: var(--fontRubik);

}

/* Header */

.header_contenedor{
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: solid 1px var(--gris);
    background: rgba(34, 34, 34, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    flex-wrap: wrap;
}
.header_menu{
    display: flex;
    position: absolute;
    top: 90px;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px var(--gris);
    align-items: center;
    justify-content: center;
    background: rgba(34, 34, 34, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    gap: 15px;
    height: 350px;
    z-index: 101;
}

.header_menu a{
    color: var(--Claro);
    text-decoration: none;
    font-size: 18px;
}
.header_menu a:last-child{
    margin-right: 0;
}
.header_menu a:hover{
    scale: 1.1;
    text-shadow: var(--violeta) 0 0 5px;
    transition: .1s ease-in;
    color: var(--violeta);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.logo img{
    margin-right: 10px;
}
.btns_contenedor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 35px;
    width: 120px;
    background-color: transparent;
    border: solid 1px var(--violeta);
    border-radius: 10px;
    color: var(--Claro);
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.btn_singup{
    background-color: var(--violeta);
}
.menu_icon{
    height: 45px;
    color: var(--Claro);
    cursor: pointer;
}
.menu_hamburguesa{
    display: none;
}


/* Section Search */

.buscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding: 25px;
    margin-top: 40px;
}
.buscador input{
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
    height: 45px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    padding-left: 15px;
    font-size: 20px;
}
.buscador input:focus{
    border: solid 2px var(--violeta);
}

/* Section Caracteristicas */
.caracteristicas_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 25px;
}
.caracteristicas_contenedor h3{
    margin: 30px 0;
}
.caracteristicas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.caracteristicas_item{
    display: flex;
    flex: 1 1 100%;
    color: var(--Oscuro);
    width: 100%;
    max-width: 650px;
    padding: 15px;
    background-color: var(--rosa);
}
.icons{
    height: 50px;
    padding-right: 15px;
}
.c_titulo{
    font-size: 24px;
    font-weight: bold;
}



/* Seccion Suscripcion */
.suscripcion_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 25px;
}
.suscripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.suscripcion_contenedor h3{
    margin: 30px 0;
}
.sub{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 100%;
    max-width: 380px;
    background-color: #ffbaf4;
    color: var(--Oscuro);
    padding: 40px;
    border-radius: 15px;
}
.precio_contenedor p:not(.precio){
    margin-bottom: 15px;
}

.sub span{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}

ul{
    list-style: none;
}
li{
    margin-top: 10px;
}
li::before{
    content: "✔";
    margin-right: 8px;
}
.precio_contenedor{
    display: flex;
    align-items: end;
}
.precio{
    font-size: 64px;
}
.btn_sub-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.btn-sub{
    height: 35px;
    background-color: transparent;
    border: solid 1px var(--Oscuro);
    border-radius: 10px;
    color: var(--Oscuro);
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.btn-premium{
    height: 35px;
    background-color: var(--violeta);
    border: none;
    border-radius: 10px;
    color: var(--Claro);
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
}






/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: end;
}
footer p a{
    color: var(--violeta);
    text-decoration: none;
}
.displaynone{
    display: none;
}

/* FAQ */
.faq{
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}





/* Nosotros */

.nosotros_mision{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-top: calc(60px + 90px);
    width: 100%;
    height: 400px;
    
}
.nosotros_mision p{
    font-size: 24px;
    max-width: 1200px;
    text-indent: 55px;
    padding: 15px;
}
.nosotros_vision{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222925;
    height: 400px;
    overflow-x: hidden;
}
.nosotros_vision p{
    font-size: 24px;
    max-width: 1200px;
    text-indent: 55px;
    padding: 15px;
}
.nosotros-vision-bg{
    position: absolute;
    left: 50%;
    opacity: 0.03;
    scale: 6;
    transform: rotate(-30deg);
}

.nosotros_organigrama{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: 100%;
    gap: 50px;
    padding: 15px;
}
.nosotros_organigrama h3{
    margin-left: 30px;
}
.organigrama{
    width: 100%;
    max-width: 1200px;
}

/* Mediaquerys */

 @media (min-width: 768px) {
    .caracteristicas_item{
        flex: 1 1 calc(50% - 20px);;
    }
    .suscripcion{
        flex-direction: row;
    }
    .nosotros-vision-bg{
        left: 70%;
    }
}
 @media (min-width: 1100px) {
    .header_contenedor{
        flex-wrap: nowrap;
    }
    .header_menu{
        position: static;
        display: flex;
        flex-direction: row;
        width: 900px;
        border: none;
        box-shadow: none;
        filter: none;
        height: 90px;
        background: none;
    }
    .menu_contenedor{
        display: none;
    }
    .header_menu a{
        margin-right: 20px;
    }
    .btns_contenedor{
        flex-direction: row;
    }
}